.normal-layout{
  width: 100%;
  height: 100%;
}
.layout-content{
  width: 100%;
  height: 100%;
}
.z-header{
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.example-showcase .el-dropdown-link {
  cursor: pointer;
  color: var(--el-color-primary);
  display: flex;
  align-items: center;
}
.normal-footer{
  background: #545c64;
  color: #ffffff;
}
